@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

body{
	background-color: snow;
	box-sizing: border-box;

}


.container-sessao {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 2rem;

}

.titulo-sessao {
	background-color:#FAEBD7 ;
	color: #B03060;
	display: block;
	font-family: 'Mukta', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5em;
	text-align: center;
	width: 100%;
}

.botao-sessao {

	border: 2px solid #B03060;
	border-color: #B03060;
	border-radius: 5px;
	border-style: solid;
	font-family: 'Mukta', sans-serif;
	font-size: 1em;
	margin-top: 2rem;
	width: 60%;
	padding: 1rem 2rem;
}

.itens-menu:hover {
	background: #800000;
}


.lista-frase {
	font-size: 1.5em;
	display: inline-block;
	list-style-type: none;
	font-family: 'Rubik', sans-serif;

}


.lista-frase li{
	color: #8B4513;
	line-height: 1em;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
	
}

/*container pai das divs de todas as sessoes*/


.container-sessoes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	/*border: 3px solid red;*/
	height: 100vh;
	/*background-color:silver;*/
}

/*Apresentação*/



#frase-efeito {
	background: linear-gradient(to bottom, #F5DEB3	, white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	/*border: 3px solid red;*/
}	

.lista-frase p {
	line-height: 2em;
}


#container1{
	text-align: right;
	margin: 5vh;
}


#container2 {
	margin: 5vh;
	max-width: 500px;
	min-width: 400px;

}

.fazendo-croche {
	max-width: 100%;
	border: 10px dashed #D2B48C;
	border-radius: 5px
	
}

#titulo-sessao {
	background: #8B4513;
	color: white;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: 'Rubik',sans-serif;
    line-height: 1.5em;
    font-size: 2em;

}
/*MODA PRAIA*/

#moda-praia {
	height: 100vh;
	background:url("img/background-moda-praia.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
}

#container-moda-praia {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#botao-mulher {
	display:  flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 70%;
	background: url("img/MaioBrancoM1.jpg");
	background-size: cover; /*lembrar de colocar pra ser rotacionado quando mudar pra mobile portrait*/
	box-shadow: 0px 0px 20px black;
}

#botao-mulher:hover, #botao-mulher a:hover {
	transition:0.1s;
	transform:scale(1.1);
}

#botao-mulher a{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	background-color:#800000;
	font-family: 'Rubik',sans-serif;
	line-height: 2em;
	padding: 1%;
	border-radius: 5px;
}


/*SESSÃO CASA*/

#casa{
	margin-top: 5vh;
	background: url(img/ToallaGrandeQuadradaBrancaM1.jpg);
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	height:  100vh;
}

.imagens-casa {
	display:  flex;
	justify-content: space-evenly;

}

.div-img-casa {
	width: 45%;
}
.img-casa {
	width: 100%;
	box-shadow: 0px 0px 20px black;
}

.botao-casa {
	width: 50%;
	text-align: center;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 10px;
	padding:10px;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	background-color:#800000;
	font-family: 'Rubik',sans-serif;
}

.botao-casa:hover {
	box-shadow: 0px 0px 10px black;
	transition:0.1s;
	transform:scale(1.2);
}

.img-casa:hover {
	transition:0.1s;
	transform:scale(1.1);
}


/*MODA INFANTIL*/

#moda-infantil{
	background: url(img/ColchaCamaSolteiroInfantil.jpg);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 5vh;
	height: 100vh;
	
}

.imagens-infantil {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 100%;

}
.imagem-infantil img {
	border: 10px dashed #D2B48C;
	width: 95%;

}

.botao-infantil{
	display: flex;
	color: white;
	font-size: 1.5em;
	box-shadow: 0px 0px 20px black;
	height: 25vh;
	width: 22vw;
	justify-content: center;
	align-items: center;
	background-color:#800000;
	font-weight: bold;
	font-family: 'Rubik',sans-serif;
}



.imagem-infantil img:hover, .botao-infantil:hover {
	transition:0.1s;
	transform:scale(1.1);
}

/*BOLSAS*/

#section-bolsas {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	height: 100vh;
	border: 1px solid red;
}
.bolsas-lateral {
	display: flex;
	flex-direction:  row;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	height: inherit;
	border:  1px solid red;
}
.container-imagem-bolsa {
	display: flex;
	width: 35%;
	border: 3px solid blue;
}

.container-imagem-bolsa img {
	width: 100%;
}

/* VARIADOS */


/*CONTATO*/
#contato {
	background: url(img/compras.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}

.contato__botao {
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background:  linear-gradient(rgba(0,100,0,.5),green,rgba(0,100,0,.5));
	height: 40%;
	width: 50%;
}


.botao__imagem {
	width: 10%;
	height: 50%;
	
}

.contato__link {
	font-size: 3rem;
	color: white;
	text-decoration: none;
	font-family: 'Rubik',sans-serif;
	font-weight: bold;

}

.contato__link:hover {
	text-shadow: 0 0 10px black;
	font-size: 3.3rem;
	text-decoration: underline;
}

/*RODAPE*/

#rodape {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background:linear-gradient(to bottom, #F5DEB3 , white);
	display: flex;
	height: 20vh;
	width: 100%;
}

.rodape__logo {
	height: 50%;
}


