.cabecalho {
	background: url(../img/fundo-teste1.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 30vh;

}

.cabecalho__logo {
	border-radius: 10px;
	background-image: radial-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.1));
	margin-top: 5%;
	width: 60%;

}

.menu {
	background-color:#FAEBD7 ;
	box-shadow: 0 1px 20px rgb(117, 112, 112);
	color: #B03060;
	display: flex;
	justify-content: center;
	font-family: 'Mukta', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	flex-wrap: wrap;
	min-height: 50px;
	line-height: 1.5em;
	padding: .3rem 1rem;
	
}

.menu__itens-link {
	border-bottom: inset 5px solid #B03060;
	text-decoration: none;
	color: inherit;
	margin: 0 5px;
	
}

