.cabecalho {
	background: url(../img/fundo-teste1.jpg);
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
	max-height: 200px;

}

.cabecalho__logo {
	width: min-content;
	height:100px;
	padding: 1% 1%;

}

.container-navegacao{
	background-color:#FAEBD7;
	padding: 0 1rem;
	box-shadow: 0 1px 20px rgb(117, 112, 112);
	display: flex;

}
.container-menu{
	display: flex;
}

.expande-menu{
	border: none;
	background-color: initial;
	
}

.sanduiche {
	width: 25px;
	height: 3px;
	background-color: #B03060;
	margin: 6px 0;
  }

.menu {
	display: none;
}

.menu-ativo{
	background-color:#FAEBD7 ;
	/*box-shadow: 0 1px 20px rgb(117, 112, 112);*/
	color: #B03060;
	display: flex;
	font-family: 'Mukta', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
	flex-wrap: wrap;
	min-height: 50px;
	box-sizing: border-box;
	padding-left: 1rem;
	align-self: baseline;
	
}

.menu__itens {
	display: flex;
	align-items: center;
}
.menu__itens-link {
	border-bottom: inset 5px solid #B03060;
	text-decoration: none;
	color: inherit;
	margin-right: 10px;
	
}

.menu__itens-link::before {
	content: ""
}

@media screen and (min-width: 768px) {
	.cabecalho{
		height:200px;
		background-position-y: center;
	}

	.cabecalho__logo{
		max-height: 50%;
		width: fit-content;
		margin-top: 1%;
		padding: 1% 1% ;
		background: none;
	
	}

	.menu {
		justify-content: flex-end;

	}
}

