.praia {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#moda-praia {
	background-image: url("../img/background-moda-praia.jpg");
	background-attachment: fixed;
	background-size:cover ;
}

.praia__imagem {
	width: 100vw;
}

@media screen and (min-width: 768px) {
	
.praia__imagem {
	width: 50vw;
	

}
	
}