@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
	font-family: Fonte-menu;
	src: url("fontes/Staatliches");
}

/*banner*/
hgroup {
	background: url(img/fundo-teste1.jpg);
	background-size: 100%;

}


.imagem-logo {
	height: 20vh;
}


/*Layout*/


.menu {
	margin:0 auto;
	color: white;
	text-align:center;
	height: 100%;
	box-shadow: 0px 10px 15px #D2B48C;
	background-color: #F4A460;
	width:100%;
	line-height: 3em;
	
}

.itens-menu {
	display: inline-block;
	padding: 0 30px;
	font-size: 2em	;
	transition: 0.5s;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;

}

.itens-menu:hover {
	background: #800000;
}


.lista-frase {
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	font-size: 2em;

}


.lista-frase li{
	color: #8B4513;
	line-height: 1em;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
	
}

/*container pai das divs de todas as sessoes*/
.container-sessoes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	/*border: 3px solid red;*/
	height: 100vh;
	/*background-color:silver;*/
}

/*Apresentação*/



#frase-efeito {
	background: linear-gradient(to bottom, #F5DEB3	, white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	/*border: 3px solid red;*/
}	

.lista-frase p {
	line-height: 2em;
}


#container1{
	text-align: right;
	margin: 5vh;
}


#container2 {
	margin: 5vh;
	max-width: 500px;
	min-width: 400px;

}

.fazendo-croche {
	max-width: 100%;
	border: 10px dashed #D2B48C;
	border-radius: 5px
	
}

#titulo-sessao {
	color: #8B4513;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: 'Indie Flower', cursive;
    padding-top: 1%;
}

#moda-praia {
	background:url("img/background-moda-praia.jpg");
	background-size: cover;
}

#botao-sobreimg{
	height: 100%;
}

#container-mulher{
	height:80%;
	position:relative;
	
}

#capa-mulher{
	height:100%;

}

#capa-mulher:hover {
	box-shadow: 0px 0px 20px #CCCCCC;
	opacity: 0.8;
	transition:0.5s;

}


.botao-mais:hover{
	bottom:17%;
	box-shadow:#F4A460 0px 10px 20px;
	transition:0.1s;
	transform:scale(1.1);
}



.botao-mais {
	position:relative;
	bottom:15%;
	left:75%;
	width:10vw;
	padding:10px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	background-color:#800000;
	
}


