@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Staatliches&display=swap');
@font-face {
	font-family: Fonte-menu;
	src: url("fontes/Staatliches");
}

hgroup {
	display: block;
	margin-left: auto;
	margin-right:auto;
	background: url(imagens/fundo-teste1.jpg);
	background-size: 100%;

}

.imagem-logo {
	height: 220px;
	max-width:30%;	
}

.menu {
	margin:0;
	padding:0;
	background-color: #F4A460;
	color: white;
	box-shadow: 0px 10px 15px #D2B48C;
	
}

.itens-menu {
	display: inline-block;
	font-family: 'Staatliches', cursive;
	padding-left: 70px;
	font-size:20px;
	margin-top: 0px;
	line-height: 100%;
}